[Unit]
Description=DCIM Redis Sync Agent
After=network.target dcim-redis.service

[Service]
Type=simple
User=infra
WorkingDirectory=/home/infra/dcim_metrics_project/phase2
ExecStart=/usr/bin/python3 /home/infra/dcim_metrics_project/scripts/cmdb_to_cache_sync.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
